<div class="container">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input class="form-control" type="text" />
				</td>
				<td>
					<input class="form-control" type="text" />
				</td>
				<td>
					<input class="form-control" type="text" />
				</td>
				<td>
					<div class="text-center">
						<button class="btn btn-block">Add</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>